@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Name of font: Josefin Sans*/


#leMongus {
    color: #000000
}

* {
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

.link {
    font-size: 25px;
    color: #ff0000;
    border: #ffffff solid 3px;
    border-radius: 20px;
    color: #ffffff;
}

.inputTitle:hover {
    cursor: text;
}

#date, #time, #massageType, #name, #phoneNmr {
    border-radius: 5px;
}

#submitbtn {
    color: #ffffff;
    background-color: #00ff0dbf;
    border-radius: 5px;
}

#table {
    border: #ffffff solid 2px;
}