#leMongus {
    color: #ffffff0a
}

* {
    color:;
    background-color:;
    text-align: center;
}

.link {
    font-size: 25px;
    color: #ff0000;
}

#date, #time, #massageType, #name, #phoneNmr {
    border-radius: 5px;
}

#submitbtn {
    color: #ffffff;
    background-color: #00ff0dbf;
    border-radius: 5px;
}

#table {
    border: black solid 2px:    
}