@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Name of font: Josefin Sans*/


#leMongus {
    color: #00000000;
    padding: 0;
    margin: 0;
}

#leMongus:hover {
    color: #000000;
}

* {
    color: #000000;
    text-align: center;
}

body {
    background: url("../img/massage-things.jpg");
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;

}

header {
    background-color: #ffffff;
    padding: 30px;
    border-radius:15px;
}

.headerLink {
    color:#000000;
}

.link {
    padding: 5px;
    font-size: 25px;
    border: #000000 solid 3px;
    border-radius: 5px;
    color: #000000;
    background-color:#b1b1b1;
    text-decoration: none;
}

.link:hover {
    color: #ffffff;
    background-color: #3d3d3d;
    border: #000000 solid 3px;
    border-radius: 7px;
}

.headerLink {
    padding: 3px;
    border: #000000 solid 3px;
    border-radius: 5px;
    color: #000000;
    background-color:#b1b1b1;
    text-decoration: none;
}

.headerLink:hover {
    color: #ffffff;
    background-color: #3d3d3d;
    border-radius: 7px;
}

.inputTitle:hover {
    cursor: text;
}

#date, #time, #massageType, #name, #lastName, #phoneNmr {
    border: #000000 solid 3px;
    border-radius: 5px;
    background-color: #ffffff;
}

#submitbtn {
    color: #ffffff;
    background-color: #00ff0dbf;
    border: 3px solid #00ff0da3;
    border-radius: 5px;
}

#submitbtn:hover {
    background-color: #00ff0da3;
    border-radius: 5px;
    border: 3px solid #00ff0dbf;
    box-shadow: 0px 0px 19px 8px #00ff0da3;
    -webkit-box-shadow: 0px 0px 19px 8px #00ff0da3;
    -moz-box-shadow: 0px 0px 19px 8px #00ff0da3;
}

#table {
    border: #000000 solid 4px;
    border-radius:15px;
    background-color:#b1b1b1;
}